/* We are using Tailwind CDN in index.html, so we don't need these directives here to avoid double loading/conflicts */
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

/* Styles are handled in index.html via CDN config */
